:root {
    --primary-color: #5b6157;
    --secondary-color: #a46844;
    --bg-color-1: #eeeeee;
    --bg-color-2: #292e26;

}

/********************************************
 General Rules:
*********************************************/

html {
    font-size: 10px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: var(--bg-color-2);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.6rem;
    transition: transform .3s ease;
}

a:hover {
    transform: scale(1.2);
}

h1 {
    font-size: 5.6rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--secondary-color);
}

p {
    font-size: 1.8rem;
    padding: 0;
}

img {
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 2rem 3.2rem;
    background-color: var(--bg-color-2);
    border-radius: 0 1.5rem 0 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
} 

.next-btn{
    background-color: #efefef;
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease;
} 

.next-btn:hover{
    transform: scale(1.2);
} 

.badge {
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
}

.badge:hover {
    box-shadow: inset 0px 0px 0px 3px #ffffff;
}

.next-badge {
    border: 1px solid #aa9f99;
    background-color: transparent;
}

.next-badge:active {
    border: 2px solid var(--secondary-color);
    background-color: #a46844;
}
.next-badge:not(:last-child) {
    margin-right: 1.2rem;
}

/********************************************
 Nav Section: 
*********************************************/

.nav__container {
    padding: 8rem 0 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-10%);
}

.nav__logo {
    color: var(--secondary-color);
    font-size: 2.4rem;
    font-weight: bold;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 0.5rem;
}

.nav__link {
    padding: 1rem;
    transition: color .3s;
}

.nav__link:hover {
    color: var(--secondary-color);
}

.nav__btn {
    display: flex;
    align-items: center;
}

.nav__action {
    background-color: transparent;
    border: none;
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: transform .3s;
}

.nav__action:hover {
    transform: scale(1.2);
}

.nav__action:first-child {
    margin-right: 2.5rem;
}

.nav__order-num {
    background-color: var(--secondary-color);
    color: #ffffff;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -20%;
    top: -15%;
}

/********************************************
 Hero Section:
*********************************************/

.hero__container {
    padding: 8rem 6.4rem 4rem;
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3.2rem 3.2rem 0 0;
    position: relative;
    transform: translateX(-10%);
} 

.hero__text{
    width: 55%;
}

.hero__title {
    margin: 3.2rem 0;
}

.hero__sub-title {
    margin: 3.2rem 0;
}

.hero__next {
    margin-top: 25rem;
    display: flex;
}

.hero-card {
    width: 36.6rem;
    display: inline-block;
    background-color: #fafbfd;
    padding: 2.4rem 3.2rem;
    box-shadow: 0px 20px 40px rgba(41, 46, 38, 0.12);
    border-radius: 4px 32px;
    position: absolute;
    bottom: 6%;
    right: 10%;
}

.hero-card__title {
    font-size: 24px;
    font-weight: bold;
    color: var(--bg-color-2);
    text-transform: capitalize;
    margin-bottom: 1.2rem;
}

.hero-card__subtitle {
    width: 80%;
    font-size: 1.6rem;
}

.hero-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-card__price {
    font-weight: bold;
    font-size: 24px;
    color: var(--bg-color-2);
}

.hero-card__add {
    background: #efefef;
    color: var(--bg-color-2);
    border: none;
    padding: 1.6rem 3.2rem;
    outline: none;
}
.hero-card__next{
    display: flex;
    margin: 1.5rem 0;
}
.hero-card__badge_brown{
    background-color: #9c957c;
}
.hero-card__badge_orange{
    background-color: #e8cd8a;
}
.hero-card__badge_blue{
    background-color: #8ad1e8;
}
.hero-card__badge{
    border: none;
}
.hero-card__badge:not(:last-child){
    margin-right: 1.6rem;
}

.close,.add{
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
} 
.close-icon,.add-icon{
    width: 1.6rem;
    height: 1.6rem;
}

.close{
    background-color: var(--bg-color-2);
    left: -20%;
    top: 30%;
} 

.add{
    background-color: #ffffff;
    top: -30%;
    left: 20%;
} 

.hero-next{
    padding: 2.4rem 3.2rem;
    background-color: #FAFBFD;
    border-radius: 4px 32px;
    position: absolute;
    top: 30%;
    right: -20%;
}

.hero-next__suptitle{
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.hero-next__title{
    font-size: 2.4rem;
    width: 70%;
    margin-bottom: 1.2rem;
} 

.hero-next__photo{
    width: 16rem;
    height: 20rem;
    position: absolute;
    bottom: -70%;
    right: -10%;
}

/********************************************
 Collection Section:
*********************************************/

.collection{
    padding: 12rem 0;
}

.collection__header{
    padding: 3.2rem 0;
    margin-bottom: 4rem;
    border-bottom: 1px solid #292e26;
     display: flex;
     justify-content: space-between;
     align-items: center;
} 

.collection__buttons{
    display: flex;
}

.collection__button:first-child{
    margin-right: 1.6rem;
} 

.collection__button{
    transition: background-color .3s ease,
                color .3s ease;
}

.collection__button:hover{
    background-color: #292e26;
    color: #ffffff;
} 

.collection__list{
    margin-bottom: 2.8rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3.2rem;
}
.collection__item{
    position: relative;
}
.collection__link{
    position: absolute;
    bottom: 5px;
    left: 0;
}
.collection__image{
    height: 35rem;
}